
* {
  font-family: 'Montserrat', sans-serif;
}

html {
    background: url(https://www.elsetge.cat/myimg/f/101-1010425_pine-forest-high-resolution.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    background-repeat: no-repeat;
    background-size: 100%;
}

/*             HEADER SECTION                */

header {
    background-color: rgba(247, 224, 150, 0.849);
    backdrop-filter: blur(5px);
    /* display: flexbox; */
    position: -webkit-sticky;
    position: sticky;
    /* top: 20px; */
    overflow: hidden;
    /* flex-flow: row; */
    /* padding: 20px 10px; */
    /* padding: 1%; */
    /* justify-content: center; */
    /* align-content: center; */
}

.container {
	max-width: 100%;
	padding: 20px;
	margin: 0 auto;
}

header .container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
header .container #logoContent {
  justify-content: center;
}

#logoContent {
    display: flex;
    
    margin-left: 35%;
}

#hamburger {
  padding-left: 10px;
  display: flex;
}


#logo {
  float: left;
}

#appName {
  font-family: 'Fugaz One', cursive;
  font-size: 2rem;
  margin-top: 10px;
  float: right;
  /* vertical-align: middle; */
  /* display: inline-flex; */
}

#modalBox {
  background-color: brown;
}


/*               END OF HEADER SECTION                 */



/* #searchBarDiv {
  display: flex;
  position: relative;
  justify-content: center;
  top: 12rem;
}

#search {
  border-radius: 10px;
  text-align: center;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  background-image: linear-gradient(to right , #ffffff , #ffffff);
  color: rgb(87, 87, 87);
} */

::placeholder { 
  color: rgb(87, 87, 87);
}

/*                        ----Main Conntent Style---                          */


#content {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20rem;
}

#user-info {
    background-color: white;
    padding: 5rem;
}

#content-info {
    background-color: white;
    padding: 5rem;
}

#campground-info {
  background-color: white;
  padding: 5rem;
}

#camp-content-info {
    background-color: white;
    padding: 5rem;
}

h3 {
    text-align: center;
    background-color: bisque;
}

p {
  padding: 1rem;
  padding-left: 0;
}

.li-1, .li-2 {
  color:red
}
/*--------------------------------------------------------------------------------------*/

/*                            -----Hamburger Animation-----                             */

.hamburger {
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

#dropdown {
  position: relative;
  display: flexbox;
  background-color: rgba(247, 224, 150, 0.849);
  max-width: 20%;
}
