/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----------------------------------------------------------------------- */

html {
    font-family: 'Montserrat', sans-serif;
    background: url(https://www.elsetge.cat/myimg/f/101-1010425_pine-forest-high-resolution.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
    display: flex;
    background-color: rgba(247, 224, 150, 0.849);
    justify-content: center;
    padding: 1.5%;
    backdrop-filter: blur(5px);
}

body {
    /* background-image: url(https://www.elsetge.cat/myimg/f/101-1010425_pine-forest-high-resolution.jpg); */
    background-repeat: no-repeat;
    background-size: 100%;
}
#appName {
    font-family: 'Fugaz One', cursive;
    font-size: 2rem;
    position: relative;
    top: 10px;

}
/* #hero-image {
        background-image: url("/w3images/photographer.jpg");
        background-color: #cccccc;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
} */

#modalBox {
    background-color:  rgba(129, 109, 155, 0.685);
}