

html {
    font-family: 'Montserrat', sans-serif;
    background: url(https://www.elsetge.cat/myimg/f/101-1010425_pine-forest-high-resolution.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    /* background-image: url(https://www.elsetge.cat/myimg/f/101-1010425_pine-forest-high-resolution.jpg); */
    background-repeat: no-repeat;
    background-size: 100%;
}

header {
    background-color: rgba(247, 224, 150, 0.849);
    backdrop-filter: blur(5px);
    padding: 1%;
    position: sticky;
    justify-content: center;
    align-content: center;
    display: flex;
}

#logoContent {
    display: flex;
    /* justify-content: start; */
    /* flex-direction: row; */
    /* height: 200px;
    width: 25%; */
    /* position: relative; */
}

#logo {
   float: left;
}

#appName {
    font-family: 'Fugaz One', cursive;
    font-size: 2rem;
    margin-top: 10px;
    float: right;
    /* vertical-align: middle; */
    /* display: inline-flex; */
}

#modalBox {
    background-color: brown;
}

#searchBarDiv {
    display: flex;
    position: relative;
    justify-content: center;
    top: 12rem;
}

#search {
    border-radius: 10px;
    text-align: center;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    background-image: linear-gradient(to right , #ffffff , #ffffff);
    color: rgb(87, 87, 87);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(87, 87, 87);
  }

#user-info {
    background-color: white;
}
/*--------------------------------------------------------------------------------------*/

.hamburger {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }